#menu{
    width: 100%;
    height: 40px;
    background-color: cornflowerblue;
    
}

#menu a{
  color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration:none;
    font-weight:800;
    
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    color:aquamarine;
}


p{
    color:#ffffff;
}

a{
    text-decoration: none;
    
}

a:hover{
    background-color: darkblue;
    color: #ffffff;
}

body{
    background-color: black;
}

 table{
    font-family: Helvertica,sans-serif;
    border-collapse: collapse;
    border-width:1px;
    border-style:solid;
    border-color:#54BA0F;
    background-color: aliceblue;
